h1 {
    border-radius: 25px;
    border: dotted 2px; 
    padding: 20px;
    border-color: black;
    width: 600px;
    font-family: Verdana;
    text-align: center;
    margin: auto;
    background-color: aquamarine;
}
h3 {
    text-align: center;
}